<div>

  <div class="main">

    <div class="side_bar">
      <div class="text-white side_bar_elements">
        <h1>SLACA 2019</h1>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img ngSrc="/assets/logo.png" alt="logo" height="237" width="218">
      </div>
      <div class="my-5">
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Apresentação</a>
          </li>
          <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Comitês</a></li>
          <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Autores</a></li>
          <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Eixos temáticos</a>
          </li>
          <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Trabalhos</a></li>
          <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Contato</a></li>
        </ul>
      </div>

    </div>

    <div class="d-flex flex-column">


      <div class="my_header">

        <div class="header_elements">
          <div>
            <ul class="list-inline">
              <li class="mt-1">Anais do Simpósio Latino Americano de Ciências de Alimentos</li>
              <li class="h2">Anais do 13 Simpósio Latino Americano de Ciência de Alimentos</li>
              <li class="negative">ISSN: 1234-5678</li>
            </ul>

          </div>

          <div class="idioma">
            <div class="dropdown">
              <button
                class="btn btn-outline-dark dropdown-toggle p-2 px-3 d-flex justify-content-center align-items-center"
                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/assets/language.png" width="24">{{ linkText  }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" #myLink href="#" (click)="changeText1()">PT, BR</a></li>
                <li><a class="dropdown-item" #myLink href="#" (click)="changeText2()">EN, US</a></li>
                <li><a class="dropdown-item" #myLink href="#" (click)="changeText3()">ES, ES</a></li>
              </ul>
            </div>
          </div>

          <div class="login">
            <a href="#" style="margin-right: 50px; padding: 0">Login <img ngSrc="/assets/login.png" alt="login"
                                                                          height="30" width="30"></a>
          </div>
        </div>

      </div>

      <div class="d-flex flex-column">

        <div class="video_container">

          <div class="video_screen">

            <div class="page_title">
              <div>
                <h2 class="h2 my-4" style="color: #ed7839"><strong>Análise sensorial de preparações funcionais
                  desenvolvidas
                  para
                  escolares entre 09 e 15 anos, do município de Campinas/SP</strong></h2>
                <img src="/assets/video.png" alt="imagem com uma praia, letras e rosto de um anciao"
                     style="border-radius: 5px; width: 95%;">
              </div>
            </div>

            <div class="options_page">
              <div class="d-flex justify-content-center" style="margin: 35px 0 0 40px">
                <button type="button"
                        class="btn text-white p-1 px-3 d-flex justify-content-center align-items-center m-1"
                        style="background-color: #ed7839"><img src="/assets/download.png"
                                                               alt="seta para baixo / download"><strong>
                  Download</strong>
                </button>
                <button type="button"
                        class="btn text-white p-1 px-3 d-flex justify-content-center align-items-center m-1"
                        style="background-color: #ed7839"><img src="/assets/favorite.png" alt="estrela branca"></button>
                <button type="button"
                        class="btn text-white p-1 px-3 d-flex justify-content-center align-items-center m-1"
                        style="background-color: #ed7839"><img src="/assets/doi.png" alt="imagem escrita doi"></button>
              </div>
              <div class="d-flex justify-content-center" style="margin: 10px 0 10px 85px">
                <a href="#" style="color: #ed7839; text-decoration: none"><strong>COMO CITAR ESSE TRABALHO?</strong></a>
              </div>
              <div class="d-flex justify-content-center">
                <table class="table" style="width: 250px;">
                  <thead>
                  <tr>
                    <th class="h3" style="background-color: #fdf1eb; color: #4e4e4e; padding-left: 15px">Detalhes</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <ul
                      style="list-style: none; overflow: auto; max-height: 550px; border: 1px solid #e7e7e7; min-width: 320px; border-radius: 0 0 5px 5px;"
                      class="p-3">
                      <li class="dark_text">Tipo de Apresentação: <strong>Pôster</strong></li>
                      <li class="dark_text">Eixo temático: <strong>Alimentação e saúde (AS)</strong></li>
                      <li class="dark_text">Palavras-chaves: <strong>Alimentos funcionais, alimenta ao escolar.</strong>
                      </li>
                      <li><br></li>
                      <li class="dark_text"><strong>Autores</strong></li>
                      <li class="dark_text">Galileo Galilei¹</li>
                      <li class="dark_text">Berta Lange de Morretes²</li>
                      <li class="dark_text">Isaac Newton³</li>
                      <li class="dark_text">Cesar Lattes⁴</li>
                      <li class="dark_text">Stephen Hawking⁵</li>
                      <li><br></li>
                      <li><br></li>
                      <li style="color: #c2b8b8">¹Universidade Estadual de Campinas</li>
                      <li style="color: #c2b8b8">²Universidade cie São Paulo</li>
                      <li style="color: #c2b8b8">³Instituto Nacional de Pesquisas Espaciais</li>
                      <li style="color: #c2b8b8">⁴Universidade Federal do Rio de Janeiro</li>
                      <li><br></li>
                      <li><br></li>
                      <li><br></li>
                      <li><br></li>
                      <li><br></li>
                      <li><br></li>
                      <li><br></li>
                    </ul>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>

        <div class="about_container">
          <div>
            <table class="about">
              <tr>
                <th class="h3">
                  Resumo
                </th>
              </tr>
              <tr>
                <td>
                  <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy.
                    Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected
                    humour and the like).It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                    making
                    it look like readable English. Many desktop publishing packages and web page editors now use Lorem
                    Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in
                    their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                    purpose (injected humour and the like).
                    <button class="view_more btn"
                            [ngClass]="{'show_less': adicionarClasse}"
                            (click)="toggleClasse()" #viewmore>Ver mais...
                    </button>
                  </p>
                  <p [ngClass]="{'show_less': removerClasse}"><br>Contrary to popular belief, Lorem Ipsum is not simply
                    random
                    text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                    old.
                    Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the
                    more
                    obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the
                    word
                    in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32
                    and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in
                    45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The
                    first
                    line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in
                    their exact original form, accompanied by English versions from the 1914 translation by H.
                    Rackham.
                    <br><br>It is a long established fact that a reader will be distracted by the readable content of a
                    page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy.
                    Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected
                    humour and the like).It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                    making
                    it look like readable English. Many desktop publishing packages and web page editors now use Lorem
                    Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in
                    their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                    purpose (injected humour and the like).
                    <button [ngClass]="{'show_less': removerClasse}"
                            (click)="toggleClasse()" #view_less class="view_more2 btn">Ver menos...
                    </button>
                  </p>

                </td>
              </tr>
            </table>
          </div>

        </div>

        <div class="topics_container">
          <div>
            <table class="topics_table">
              <tr>
                <th class="h3">Discussões</th>
              </tr>
              <tr class="d-flex flex-column align-items-center">
                <td style="color: #ed7839" class="h4 my-3"><strong>Compartilhe suas ideias ou dúvidas com os
                  autores!</strong></td>
                <td class="my-3"><img src="/assets/favorite.png" alt="" class="mx-3"><img src="/assets/favorite.png"
                                                                                          alt="" class="mx-3"><img
                  src="/assets/favorite.png" alt="" class="mx-3"></td>
                <td class="my3" style="color: #838383; text-align: center">Sabia que o maior estímulo no desenvolvimento
                  científico e cultural é a curiosidade? Deixe seus
                  questionamentos ou sugestões para o autor!
                </td>
                <td style="width: 95%;border: 1px solid #f3f3f3" class="my-5"></td>
                <td>
                  <button type="button" class="btn text-white"
                          style="background-color: #f89f4b; margin-top: -120px; box-shadow: 5px 5px 5px 5px #bebebe; padding: 0 10px 0px 10px">
                <span class="d-flex justify-content-center align-items-center">
                  <span style="font-size: 30px"><strong>+</strong></span>
                  <span style="font-size: 14px; margin-left: 7px">criar topico</span>
                </span>
                  </button>
                </td>
              </tr>
              <tr class="form_hidden d-flex flex-column">
                <td style="text-align: center; color: #858585">Tem uma dúvida ou sugestão? Compartilhe seu feedback com
                  os autores!
                </td>
                <td class="form-label" style="color: #ed7839"><strong>Assunto</strong></td>
                <td><input type="text" style="min-width: 100%; border-color: #cccccc; height: 35px;"
                           class="form-control"></td>
                <td class="form-label" style="color: #ed7839"><strong>Conteudo</strong></td>
                <td class="d-flex flex-column form-control">
                <textarea style="resize: none; height: 150px; border-color: #cccccc;">

                </textarea>
                  <span class="d-flex justify-content-end" style="background-color: #eaf1f2; border-color: #cccccc;">
                  <button type="button" class="text-white"
                          style="background-color: #f89a49; padding: 3px 100px 3px 100px; border: none;"><strong>Enviar</strong></button>
                </span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
