<div>

  <div class="main">

    <div class="side_bar">
      <div class="text-white side_bar_elements">
        <h1>SLACA 2019</h1>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img ngSrc="/assets/logo.png" alt="logo" height="237" width="218">
      </div>
      <div class="my-5">
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 px-4"><a href="" class="text-decoration-none text-black">Apresentação</a></li>
          <li class="list-group-item py-1 px-4"><a href="" class="text-decoration-none text-black">Comitês</a></li>
          <li class="list-group-item py-1 px-4"><a href="" class="text-decoration-none text-black">Autores</a></li>
          <li class="list-group-item py-1 px-4"><a href="" class="text-decoration-none text-black">Eixos temáticos</a></li>
          <li class="list-group-item py-1 px-4"><a href="" class="text-decoration-none text-black">Trabalhos</a></li>
          <li class="list-group-item py-1 px-4"><a href="" class="text-decoration-none text-black">Contato</a></li>
        </ul>
      </div>


    </div>

    <div class="my_header">

      <div class="header_elements">
        <a href="#"></a>
        <div>
          <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
          <p>Anais do 13 Simpósio Latino Americano de Ciência de Alimentos</p>
          <p>ISSN: 1234-5678</p>
        </div>

        <div class="login">
          <a href="#" class="mx-1">Login <img ngSrc="/assets/login.png" alt="login" height="30" width="30"></a>
        </div>
      </div>

    </div>
  </div>

</div>
