* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, li, p, td {
  overflow-y: hidden;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.side_bar {
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 8px 10px #e2e2e2;
}

.side_bar_elements {
  background: #f89a49;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_header {
  display: flex;
  background-color: #fdf1eb;
  height: 90px;
  width: calc(100vw - 300px);
  margin-left: 300px;
  color: #725c5c;
}

.header_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 300px);
  margin-left: 50px;
}

.header_elements a {
  padding: 50px;
  text-decoration: none;
  color: black;
}

.negative {
  margin-top: -5px;
}

.dropdown-menu {
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
}

.video_container {
  display: flex;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  justify-content: flex-end;
  margin-top: 20px;
}

.video_screen {
  display: flex;
  width: calc(100vw - 390px);
  margin-right: 45px;
  height: auto;
}

.page_title {
  width: calc(100% - 320px);
  min-height: 100%;
  height: auto;
}

.options_page {
  width: 320px;
  min-height: 100%;
  height: auto;
}

.dark_text {
  color: #5c5c5c;
}

th {
  border-radius: 5px 5px 0 0;
}

.about_container {
  display: flex;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  justify-content: flex-end;
  margin-top: 20px;
}

.about {
  width: calc(100vw - 390px);
  margin-right: 45px;
}

.about th {
  color: #4e4e4e;
  background-color: #fdf1eb;
  padding-left: 10px;
  height: 60px;
}

.about td {
  border: 1px solid #dee2e6;
}

.view_more {
  color: #ed7839;
  cursor: pointer;
  font-weight: bold;
}

.show_less {
  display: none;
}

.view_more2 {
  color: #ed7839;
  cursor: pointer;
  font-weight: bold;
}

.topics_container {
  display: flex;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  justify-content: flex-end;
  margin-top: 20px;
}

.topics_table {
  border: 1px solid #dee2e6;
  width: calc(100vw - 390px);
  margin-right: 45px;
}

.topics_table th {
  color: #4e4e4e;
  background-color: #fdf1eb;
  padding-left: 10px;
  height: 60px;
}

.form_hidden {
  display: none !important;
}

@media (max-width: 1540px) {
  .header_elements li:nth-child(1) {
    font-size: 14px;
  }

  .header_elements li:nth-child(2) {
    font-size: 25px;
  }

  .header_elements li:nth-child(3) {
    font-size: 14px;
  }


  .video_screen {
    //display: flex;
    //flex-direction: column;
  }
}

@media (max-width: 1280px) {
  .header_elements li:nth-child(1) {
    font-size: 12px;
  }

  .header_elements li:nth-child(2) {
    font-size: 23px;
  }

  .header_elements li:nth-child(3) {
    font-size: 12px;
  }


  .video_screen {
    flex-direction: column;
    max-height: 100%;
  }


}
