* {
  margin: 0;
  padding: 0;
}

h1, h2, li, p, td {
  overflow-y: hidden;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.side_bar {
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 8px 10px #e2e2e2;
}

.side_bar_elements {
  background: #f89a49;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_header {
  display: flex;
  background-color: #fdf1eb;
  height: 90px;
  width: calc(100vw - 300px);
  margin-left: 300px;
  color: #725c5c;
}

.header_elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 300px);
  margin-left: 50px;
}

.header_elements a {
  padding: 50px;
  text-decoration: none;
  color: black;
}

.negative {
  margin-top: -5px;
}

.dropdown-menu {
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
}

.video_container {
  display: flex;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  justify-content: flex-end;
  margin-top: 20px;
}

.video_screen {
  display: flex;
  width: calc(100vw - 390px);
  margin-right: 45px;
  height: auto;
}

.page_title {
  width: calc(100% - 320px);
  min-height: 100%;
  height: auto;
}

.options_page {
  width: 320px;
  min-height: 100%;
  height: auto;
}

.dark_text {
  color: #5c5c5c;
}

th {
  border-radius: 5px 5px 0 0;
}

.about_container {
  display: flex;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  justify-content: flex-end;
  margin-top: 20px;
}

.about {
  width: calc(100vw - 390px);
  margin-right: 45px;
}

.about th {
  color: #4e4e4e;
  background-color: #fdf1eb;
  padding-left: 10px;
  height: 60px;
}

.about td {
  border: 1px solid #dee2e6;
}

.btn-show-more {
  color: #ed7839;
  cursor: pointer;
  font-weight: bold;
}

.show_less {
  display: none;
}

.btn-show-less {
  color: #ed7839;
  cursor: pointer;
  font-weight: bold;
}

.topics_container {
  display: flex;
  min-width: 100%;
  width: auto;
  max-height: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}

.topics_table {
  border: 1px solid #dee2e6;
  width: calc(100vw - 390px);
  margin-right: 45px;
}

.topics_table th {
  color: #4e4e4e;
  background-color: #fdf1eb;
  padding-left: 10px;
  height: 60px;
}

.form_hidden {
  display: none !important;
}

.sucess-message {
  display: none !important;
}

.feedBack {
  display: none !important;
}

.feedback_await{
  height: 175px;
}

.feedback_await{
}

.feedback_await::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.feedback-message{
  color: #707070;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza vertical e horizontalmente */
  padding: 10px;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.feedback-message a{
  font-size: 14px;
  color: #ed7839;
  font-weight: lighter;
}

.modal-dialog {
  position: fixed;
  top: calc(100vh / 4);
  right: calc(100vw / 3);
  width: 100%;
  height: 100%;
}

.modal-content {
  height: 400px;
}

.modal-body input {
  height: 40px;
}

.modal-header {
  overflow-y: hidden;
  overflow-x: hidden;
}

.my-button {
  overflow-y: hidden;
  background-color: #ed7839;
  width: 100%;
  height: 40px;
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remova a borda padrão do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border-radius: 5px; /* Arredondar as bordas do botão */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efeito de sombra */
  transition: transform 0.2s; /* Efeito de transição */
}

.my-button:hover {
  transform: translateY(-2px); /* Desloca o botão para cima */
}

.my-button:active {
  transform: translateY(0); /* Volta à posição original quando pressionado */
}

tr.card td:nth-child(1) {
  font-size: 20px;
  color: #ed7839;
}

tr.card td:nth-child(2) {
  font-size: 14px;
  color: #5c5c5c;
  font-weight: bold;
}

tr.card td:nth-child(3) {
  margin-top: 10px;
  font-size: 16px;
  color: #909090;
}

tr.card td:nth-child(4) {
  font-size: 16px;
  color: #868686;
}

.text1{
  font-size: 14px !important;
  color: #5c5c5c !important;
  font-weight: bold !important;
}

.text2 {
  font-size: 16px !important;
  color: #868686 !important;
  font-weight: normal !important;
}

.options_click {
  margin-top: 20px;
}

.options_click span {
  color: #ed7839;
  font-weight: bold;
  font-size: 28px;
  margin-top: -35px;
  margin-right: 10px;
  cursor: pointer;
}

.emoji {
  background-color: #ed7839;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.expandeClass {
  display: none;
}


tr.card {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
}

.answered-topic, .comments-container {
  cursor: pointer;
}

.comments-container {
  margin-bottom: -18px !important;
}

@media (max-width: 1540px) {
  .header_elements li:nth-child(1) {
    font-size: 14px;
  }

  .header_elements li:nth-child(2) {
    font-size: 25px;
  }

  .header_elements li:nth-child(3) {
    font-size: 14px;
  }

}

.rover_buttons li:hover{
  background-color: #fdf1eb;
  cursor: pointer;
}

.button_active{
  position: relative;
  padding-left: 20px;
}

.button_active {
  position: relative;
}

.button_active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Largura do quadrado de fundo */
  height: 100%;
  background-color: #fdf1eb; /* Cor do quadrado de fundo */
  z-index: 1;
}

.button_active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Largura do quadrado menor */
  height: 100%;
  background-color: #f38e43; /* Cor do quadrado menor */
  z-index: 2;
}



.button_active a {
  position: relative; /* Torna o link um contexto de empilhamento para o z-index funcionar */
  z-index: 5; /* Elevar o texto acima do elemento pseudo */
}

.footer {
  border-top: 1px solid  #e7e7e7;
  margin-top: 50px;
  margin-left: 320px;
  width: 79%;
  padding: 10px 10px 50px 10px;
}

.footer_text {
  padding-top: 10px;
  color: #5c5c5c;
}

.footer_text p:nth-child(1){
  margin-bottom: 20px;
}

@media (max-width: 1621px) {
  .header_elements li:nth-child(1) {
    font-size: 12px;
  }

  .header_elements li:nth-child(2) {
    font-size: 23px;
  }

  .header_elements li:nth-child(3) {
    font-size: 12px;
  }


  .mq-1-2{
    height: 470px !important;
  }
}
@media (max-width: 1441px) {
  .header_elements li:nth-child(1) {
    font-size: 12px;
  }

  .header_elements li:nth-child(2) {
    font-size: 23px;
  }

  .header_elements li:nth-child(3) {
    font-size: 12px;
  }


  .mq-1-2{
    height: 378px !important;
  }
}

@media (max-width: 1280px) {
  .header_elements li:nth-child(1) {
    font-size: 12px;
  }

  .header_elements li:nth-child(2) {
    font-size: 23px;
  }

  .header_elements li:nth-child(3) {
    font-size: 12px;
  }


  .mq-1-2{
    height: 328px !important;
  }

  .footer {
    border-top: 1px solid  #e7e7e7;
    margin-top: 50px;
    margin-left: 320px;
    width: 70%;
    padding: 10px 10px 50px 10px;
  }

  .footer_text{
    font-size: 14px;
  }

  .logo_footer{
    width: 450px !important;
  }

  .icon_logo_footer{
    //width: 200px;
  }

}

@media (max-width: 800px) {
  .header_elements li:nth-child(1) {
    font-size: 10px;
  }

  .header_elements li:nth-child(2) {
    font-size: 14px;
  }

  .header_elements li:nth-child(3) {
    font-size: 10px;
  }


  .mq-1-2{
    height: 328px !important;
  }


}
