* {
  margin: 0;
  padding: 0;
}


.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.side_bar {
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 8px 10px #e2e2e2;
}

.side_bar_elements{
  background: #f89a49;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my_header {
  display: flex;
  background-color: #fdf1eb;
  height: 80px;
  width: 100vw;
  color: black;
}

.header_elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.header_elements a {
  padding: 50px;
  text-decoration: none;
  color: black;
}

